.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  margin-left: 10px;
}

.navbar-brand > p {
  margin: 0;
  margin-left: 5px;
  font-weight: 800;
}

.navbar-brand > img {
  width: 30px;
  height: auto;
}

.navbar {
  background-color: black !important;
  border-bottom: 1px solid #292929 !important;
}

.nav-link {
  font-weight: 700 !important;
  color: white !important ;
}
